<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{{ settings:site_name }} &raquo; {{ template:title }}</title>

  <!-- Included CSS Files -->
  {{ theme:partial name="css" }}

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
    <!-- WRAPPER -->
  <div class="wrapper">
    <!-- HEADER  -->
    <header>
    	{{ theme:partial name="_navbar" }}
    </header>

    <div class="container">
      <?php if (isset($alerts)): ?>
        </br>
        <?php foreach ($alerts as $alert): ?>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <?php echo $alert['alert_text']; ?>
          </div>
        <?php endforeach; ?>
      <?php endif; ?>
      <?php echo $template['body']; ?>
    </div>

  </div>

  {{ theme:partial name="scripts" }}

<div id="getsat-widget-5780"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">if (typeof GSFN !== "undefined"){ GSFN.loadWidget(5780,{"containerId":"getsat-widget-5780"});}</script>


</body>
</html>
