.wrapper{
  margin: 0;
  padding: 0;
  height: 100%;
}

.btn-margin{
  margin-bottom: 10px;
}


.table th {
  background-color: #bbb;
}

.extra-sigdig {
  opacity: 0.5;
}

.updated-ticker {
  float: right;
  display: inline-block;
}

.navbar .brand {
  padding: 0;
  margin-top: -10px;
  margin-bottom: -56px;
  padding-right: 10px;
}

.navbar .brand.visible-phone {
  margin: 0;
}